<a href="https://colab.research.google.com/github/arpan-sharma/Machine-learning_projects/blob/main/ar_fake_news_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
print("üôè	üïâ Om üôè")

üôè	üïâ Om üôè

In [28]:
#import Files 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [29]:
#read CSV Files
df_fake = pd.read_csv('/content/drive/MyDrive/fake_news_data/Fake.csv')
df_true = pd.read_csv('/content/drive/MyDrive/fake_news_data/True.csv')

In [30]:
df_fake.head(10)

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year‚Äô...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama‚Äôs Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017
5   Racist Alabama Cops Brutalize Black Boy While...  ...  December 25, 2017
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...  December 23, 2017
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...  December 23, 2017
8   Former CIA Director Slams Trump Over UN Bully...  ...  December 22, 2017
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...  December 21, 2017

[10 rows x 4 columns]

In [31]:
df_true.head(10)

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
5  White House, Congress prepare for talks on spe...  ...  December 29, 2017
6  Trump says Russia probe will be fair, but time...  ...  December 29, 2017
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...  December 29, 2017
8         Trump on Twitter (Dec 28) - Global Warming  ...  December 29, 2017
9  Alabama official to certify Senator-elect Jone...  ...  December 28, 2017

[10 rows x 4 columns]

In [32]:
df_fake["class"] = 0
df_true["class"] = 1

In [33]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [34]:
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

# Merging the manual testing dataframe in single dataset and save it in a csv file

In [35]:
df_fake_manual_testing['class'] = 0
df_true_manual_testing['class'] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
df_fake_manual_testing.head(10)

                                                   title  ... class
23471  Seven Iranians freed in the prisoner swap have...  ...     0
23472                      #Hashtag Hell & The Fake Left  ...     0
23473  Astroturfing: Journalist Reveals Brainwashing ...  ...     0
23474          The New American Century: An Era of Fraud  ...     0
23475  Hillary Clinton: ‚ÄòIsrael First‚Äô (and no peace ...  ...     0
23476  McPain: John McCain Furious That Iran Treated ...  ...     0
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...     0
23478  Sunnistan: US and Allied ‚ÄòSafe Zone‚Äô Plan to T...  ...     0
23479  How to Blow $700 Million: Al Jazeera America F...  ...     0
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...     0

[10 rows x 5 columns]

In [37]:
df_true_manual_testing.head(10)

                                                   title  ... class
21407  Mata Pires, owner of embattled Brazil builder ...  ...     1
21408  U.S., North Korea clash at U.N. forum over nuc...  ...     1
21409  U.S., North Korea clash at U.N. arms forum on ...  ...     1
21410  Headless torso could belong to submarine journ...  ...     1
21411  North Korea shipments to Syria chemical arms a...  ...     1
21412  'Fully committed' NATO backs new U.S. approach...  ...     1
21413  LexisNexis withdrew two products from Chinese ...  ...     1
21414  Minsk cultural hub becomes haven from authorities  ...     1
21415  Vatican upbeat on possibility of Pope Francis ...  ...     1
21416  Indonesia to buy $1.14 billion worth of Russia...  ...     1

[10 rows x 5 columns]

#create test dataset

In [38]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
df_manual_testing.to_csv("/content/drive/MyDrive/fake_news_data/manual_testing.csv")

In [39]:
#Merging the main fake and true dataframe
df_marge = pd.concat([df_fake, df_true], axis =0 )
df_marge.tail(10)

                                                   title  ... class
21397  Germany's Schulz says he would demand U.S. wit...  ...     1
21398  Blunt instrument? What a list of banned articl...  ...     1
21399  Saudi police release teenager detained for dan...  ...     1
21400  The People's Princess, Britons work to keep me...  ...     1
21401  Argentina labor unions protest job losses, Mac...  ...     1
21402  Exclusive: Trump's Afghan decision may increas...  ...     1
21403  U.S. puts more pressure on Pakistan to help wi...  ...     1
21404  Exclusive: U.S. to withhold up to $290 million...  ...     1
21405  Trump talks tough on Pakistan's 'terrorist' ha...  ...     1
21406  U.S., North Korea clash at U.N. forum over nuc...  ...     1

[10 rows x 5 columns]

In [40]:
df_marge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

#### "title",  "subject" and "date" columns is not required for detecting the fake news, so I am going to drop the columns.

In [41]:
df = df_marge.drop(["title", "subject","date"], axis = 1)

In [42]:
df.isnull().sum()

text     0
class    0
dtype: int64

#### Randomly shuffling the dataframe

In [43]:
df = df.sample(frac = 1)

In [44]:
df.head()

                                                    text  class
5021   JERUSALEM (Reuters) - U.S. President Donald Tr...      1
13475  A protester at the RNC in Cleveland attempted ...      0
11729  ISTANBUL (Reuters) - Turkish President Tayyip ...      1
20402  MAZAR-I-SHARIF, Afghanistan (Reuters) - A Span...      1
22605  ROAR MagI want to give testimony on what are c...      0

In [45]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [46]:
df

                                                    text  class
0      JERUSALEM (Reuters) - U.S. President Donald Tr...      1
1      A protester at the RNC in Cleveland attempted ...      0
2      ISTANBUL (Reuters) - Turkish President Tayyip ...      1
3      MAZAR-I-SHARIF, Afghanistan (Reuters) - A Span...      1
4      ROAR MagI want to give testimony on what are c...      0
...                                                  ...    ...
44873  A little over one year ago, radical activist, ...      0
44874  What a great fit! Tim Tebow is such a good man...      0
44875  MOSCOW (Reuters) - Russian President Vladimir ...      1
44876  As you may have heard, virtually every Republi...      0
44877  (Reuters) - David Betras could see trouble com...      1

[44878 rows x 2 columns]

# Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.

In [47]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [48]:
df["text"] = df["text"].apply(wordopt)

In [49]:
#### Defining dependent and independent variable as x and y

In [50]:
x = df["text"]
y = df["class"]

#### Splitting the dataset into training set and testing set.

In [51]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

#### Convert text to vectors

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [53]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

### 1. Logistic Regression

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [56]:
LogisticRegression()

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [57]:
pred_lr=LR.predict(xv_test)

In [58]:
LR.score(xv_test, y_test)

0.9867201426024955

In [59]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5864
           1       0.98      0.99      0.99      5356

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

### 2. Decision Tree Classification

In [61]:
from sklearn.tree import DecisionTreeClassifier

In [62]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [63]:
pred_dt = DT.predict(xv_test)

In [64]:
DT.score(xv_test, y_test)

0.9963458110516934

In [65]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5864
           1       1.00      1.00      1.00      5356

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

### 3. Gradient Boosting Classifier

In [66]:
from sklearn.ensemble import GradientBoostingClassifier

In [67]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [68]:
pred_gbc = GBC.predict(xv_test)

In [69]:
GBC.score(xv_test, y_test)

0.9959893048128342

In [70]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5864
           1       0.99      1.00      1.00      5356

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

### 4. Random Forest Classifier

In [71]:
from sklearn.ensemble import RandomForestClassifier

In [72]:
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [73]:
pred_rfc = RFC.predict(xv_test)

In [74]:
RFC.score(xv_test, y_test)

0.9855614973262032

In [75]:
print(classification_report(y_test, pred_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5864
           1       0.99      0.98      0.98      5356

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

# Model Testing With Manual Entry

In [97]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]), 
                                                                                                              output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [98]:
news = str(input())
manual_testing(news)

hjgkgkkgkk kjglkhkgklu


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News